*{
  padding: 0px;
  margin: 0px;
  background-color: black;
  text-align: center;
  font-family: tahoma, sans-serif;
  /*border: dashed red 1px;*/
  background-color: inherit;
}

body{
  font: white;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

p{
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

ul{
  margin-top: 10px;
}

li{
  font-size: 20px;
  text-align: left;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background-color: lightgray;
  border: 2px solid gray;
}

span{
  color: #22EFF8;
  display:inline;
  font-size: 24px;
}

header{
  margin: 0px;
  padding: 0px;
}

h1{
  font-size: 64px;
  margin: 0px;
  padding: 0px;
}

h3{
  margin: 0px;
  padding: 0px;
}

.slides{
  background-color: inherit;
}

.slide{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.slide img{
  width: 50vw;
  margin: 20px;
  padding: 50px;
  display: inline;
  /*border-left: 10px solid gray;
  /*border-right: 10px solid gray;
  /*border-radius: 10px;*/
  background-color: lightgray;
  vertical-align: middle;
  border: 2px solid gray;
  box-shadow: 8px 8px 5px gray;
}

.slide iframe{
  height: 540px;
  width: 960px;
  margin: 20px;
  padding: 10px;
  display: inline;
  border-left: 20px dashed gray;
  border-right: 20px dashed gray;
  border-top: 0px;
  border-bottom: 0px;
  /*border-radius: 20px;*/
  background-color: lightgray;
  vertical-align: middle;
}

.content{
  padding: 20px 0px 20px 0px;
  background-color: lightgray;
  border-top: 5px solid gray;
  color: gray;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#title{
  background-color: black;
  color: gold;

  background-image: url(http://img.gawkerassets.com/img/18petjfu1p3hsjpg/ku-xlarge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#title h1{
  position: absolute;
  left: 25px;
  bottom: 25px;
  background-color: rgba(0, 0, 0, 0);
  vertical-align: center;
  text-align: left;
  float: left;
}

#title p{
  position: absolute;
  bottom: 10px;
  left: 25px;
}

/*
YELLOW PROPERTIES
*/

#yellow_slide{
  background-color: #B4B496;
  border-color: #63634E;
}

#yellow_slide img{
  background-color: #E0E0C3;
  border-color: #8E8E72;
  box-shadow: 8px 8px 5px #63634E;
}

#yellow_slide iframe{
  background-color: #E0E0C3;
  border-color: #8E8E72;
  box-shadow: 8px 8px 5px #63634E;
}

#yellow_content{
  background-color: #343425;
  border-color: #63634E;
}

#yellow_content p{
  color: #B4B496;
}

#yellow_content li{
  color: #63634E;
  background-color: #E0E0C3;
}

/*
BLUE PROPERTIES
*/

#blue_slide{
  background-color: #676C79;
  border-color: #363942;
}

#blue_slide img{
  background-color: #868A97;
  border-color: #4F5460;
  box-shadow: 8px 8px 5px #363942;
}

#blue_slide iframe{
  background-color: #868A97;
  border-color: #4F5460;
  box-shadow: 8px 8px 5px #363942;
}

#blue_content{
  background-color: #1A1C23;
  border-color: #363942;
}

#blue_content p{
  color: #868A97;
}

#blue_content li{
  color: #363942;
  background-color: #868A97;
}

/*
RED PROPERTIES
*/

#red_slide{
  background-color: #B19394;
  border-color: #614D4E;
}

#red_slide img{
  background-color: #DCC0C1;
  border-color: #8C7072;
  box-shadow: 8px 8px 5px #614D4E;
}

#red_slide iframe{
  background-color: #DCC0C1;
  border-color: #8C7072;
  box-shadow: 8px 8px 5px #614D4E;
}

#red_content{
  background-color: #332425;
  border-color: #614D4E;
}

#red_content p{
  color: #B19394;
}

#red_content li{
  color: #614D4E;
  background-color: #DCC0C1;
}

#slide_5{
  background-color: maroon;
  color: white;
  background-image: url(http://www.filmquadposters.co.uk/posters/star-wars-trilogy-se-mini-triple-poster.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#slide_6{
  background-color: lightblue;
  /* background-image: url(http://www.dvdactive.com/images/editorial/screenshot/2009/8/wolfman1977a.jpg), url(http://www.dvdactive.com/images/editorial/screenshot/2009/8/wolfman1997a.jpg);*/
  background-repeat: no-repeat, no-repeat;
  background-size: 100vh 50vw, 100vh 50vw;
  background-position: left,right;
}

#slide_7{
  background-color: maroon;
}

#slide_8{
  background-color: lightblue;
}

#slide_9{
  background-color: maroon;
}

#slide_10{
  background-color: lightblue;
}

#slide_11{
  background-color: maroon;
}

#slide_12{
  background-color: lightblue;
}

#works_cited{
  background-color: maroon;
  position: relative;
}
