*{
  padding: 0px;
  margin: 0px;
  background-color: black;
  text-align: center;
  font-family: tahoma, sans-serif;
  /*border: dashed red 1px;*/
  background-color: inherit;
}

body{
  font: white;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

p{
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}

li{
  font-size: 20px;
  text-align: left;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background-color: lightgray;
  border: 2px solid gray;
}

span{
  color: #22EFF8;
  display:inline;
  font-size: 24px;
}

a{
  color: #22EFF8;
}

:visited{
  color: #00CDD6;
}

header{
  margin: 0px;
  padding: 0px;
}

h1{
  font-size: 64px;
  margin: 0px;
  padding: 0px;
}

h3{
  margin: 0px;
  padding: 0px;
}

.slides{
  background-color: inherit;
}

.slide{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.slide img{
  width: 43%;
  margin: 20px;
  padding: 50px;
  display: inline-block;
  /*border-left: 10px solid gray;
  /*border-right: 10px solid gray;
  /*border-radius: 10px;*/
  background-color: lightgray;
  /*vertical-align: middle;*/
  border: 2px solid gray;
  box-shadow: 8px 8px 5px gray;
}

.slide iframe{
  height: 540px;
  width: 960px;
  margin: 20px;
  padding: 10px;
  display: inline-block;
  border-left: 20px dashed gray;
  border-right: 20px dashed gray;
  border-top: 0px;
  border-bottom: 0px;
  /*border-radius: 20px;*/
  background-color: lightgray;
  vertical-align: middle;
}

.content{
  padding: 20px 0px 20px 0px;
  background-color: lightgray;
  border-top: 5px solid gray;
  color: gray;
  position: absolute;
  bottom: 0px;
  width: 100vw;
}

.content p{
  padding-left: 5px;
  padding-right: 5px;
}

.quote{
  padding: 20px;
  margin: 30px;
  display: inline-block;
  background-color: lightgray;
  border: 2px solid gray;
  color: black;
  vertical-align: middle;
  box-shadow: 8px 8px 5px #222222;
}

.quote p{
  font-family: garamond,serif;
}

.quote span{
  color: black;
  font-size: 30px;
  font-family: cursive;
  display: block;
}

.quote em{
  color: black;
  font-size: 50px;
  font-family: cursive;
  display: block;
}

#title{
  background-color: black;
  color: gold;

  background-image: url(http://img.gawkerassets.com/img/18petjfu1p3hsjpg/ku-xlarge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#title h1{
  position: absolute;
  left: 25px;
  bottom: 25px;
  background-color: rgba(0, 0, 0, 0);
  vertical-align: center;
  text-align: left;
  float: left;
}

#title p{
  position: absolute;
  bottom: 10px;
  left: 25px;
}

/*
YELLOW PROPERTIES
*/

#yellow_slide{
  background-color: #B4B496;
  border-color: #63634E;
}

#yellow_slide h1{
  color: #343425;
}

#yellow_slide img{
  background-color: #E0E0C3;
  border-color: #8E8E72;
  box-shadow: 8px 8px 5px #63634E;
}

#yellow_slide iframe{
  background-color: #E0E0C3;
  border-color: #8E8E72;
  box-shadow: 8px 8px 5px #63634E;
}

#yellow_slide .quote{
  background-color: #E0E0C3;
  color: #343425;
  border-color: #8E8E72;
  box-shadow: 8px 8px 5px #63634E;
}

#yellow_slide .quote em{
  color: #343425;
}

#yellow_slide .quote span{
  color: #343425;
}

#yellow_slide .content{
  background-color: #343425;
  border-color: #63634E;
}

#yellow_slide .content p{
  color: #B4B496;
}

#yellow_slide .content li{
  color: #63634E;
  background-color: #E0E0C3;
}

/*
BLUE PROPERTIES
*/

#blue_slide{
  background-color: #676C79;
  border-color: #363942;
}

#blue_slide img{
  background-color: #868A97;
  border-color: #4F5460;
  box-shadow: 8px 8px 5px #363942;
}

#blue_slide iframe{
  background-color: #868A97;
  border-color: #4F5460;
  box-shadow: 8px 8px 5px #363942;
}

#blue_slide .quote{
  background-color: #868A97;
  color: #1A1C23;
  border-color: #4F5460;
  box-shadow: 8px 8px 5px #363942;
}

#blue_slide .quote em{
  color: #1A1C23;
}

#blue_slide .quote span{
  color: #1A1C23;
}

#blue_slide .content{
  background-color: #1A1C23;
  border-color: #363942;
}

#blue_slide .content p{
  color: #868A97;
}

#blue_slide .content li{
  color: #363942;
  background-color: #868A97;
}

/*
RED PROPERTIES
*/

#red_slide{
  background-color: #B19394;
  border-color: #614D4E;
}

#red_slide img{
  background-color: #DCC0C1;
  border-color: #8C7072;
  box-shadow: 8px 8px 5px #614D4E;
}

#red_slide iframe{
  background-color: #DCC0C1;
  border-color: #8C7072;
  box-shadow: 8px 8px 5px #614D4E;
}

#red_slide .content{
  background-color: #332425;
  border-color: #614D4E;
}

#red_slide .content p{
  color: #B19394;
}

#red_slide .content li{
  color: #614D4E;
  background-color: #DCC0C1;
}

#works_cited{
  background-color: maroon;
  position: relative;
}

#double{
  padding: 10px;
  width: 45%;
  /*patch job :/ Find out about vertical alignment later*/
  margin-top: 10%;
}

#works_cited{
  text-align: center;
  background-color: #B4B496;
  padding: 0px;
  border: 0px;
}

#works_cited ul{
  text-align: left;
  background-color: #B4B496;
  padding: 50px;
  /*position: relative;*/
  /*width: 70%;*/
}

#works_cited li{
  /*position: absolute;
  left: 50px;*/
  padding-left: 60px;
  padding-right: 10px;
  text-indent: -40px;
  width: 70%;
  box-shadow: 8px 8px 5px #343425;
}
